Review2/soap-deposits-client/src/main/resources/deposits.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://deposits.services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://deposits.services" targetNamespace="http://deposits.services">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://deposits.services">

    <!--    Entity-->
    <xsd:complexType name="deposits">
        <xsd:sequence>
            <xsd:element name="depositId" type="xsd:long"/>
            <xsd:element name="depositName" type="xsd:string"/>
            <xsd:element name="depositRoi" type="xsd:double"/>
            <xsd:element name="depositType" type="xsd:string"/>
            <xsd:element name="depositDescription" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!--    Status-->
    <xsd:complexType name="serviceStatus">
        <xsd:sequence>
            <xsd:element name="status" type="xsd:int"/>
            <xsd:element name="message" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

<!--    List All Deposits-->
    <xsd:element name="listAllDepositsRequest">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="listAllDepositsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="serviceStatus" type="tns:serviceStatus"/>
                <xsd:element maxOccurs="unbounded" name="deposits" type="tns:deposits"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="listAllDepositsRequest">
    <wsdl:part element="tns:listAllDepositsRequest" name="listAllDepositsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listAllDepositsResponse">
    <wsdl:part element="tns:listAllDepositsResponse" name="listAllDepositsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DepositsPort">
    <wsdl:operation name="listAllDeposits">
      <wsdl:input message="tns:listAllDepositsRequest" name="listAllDepositsRequest">
    </wsdl:input>
      <wsdl:output message="tns:listAllDepositsResponse" name="listAllDepositsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DepositsPortSoap11" type="tns:DepositsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="listAllDeposits">
      <soap:operation soapAction=""/>
      <wsdl:input name="listAllDepositsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listAllDepositsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DepositsPortService">
    <wsdl:port binding="tns:DepositsPortSoap11" name="DepositsPortSoap11">
      <soap:address location="http://localhost:8082/depositsrepo"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>